c:\Users\AY023176\Documents\dev\async-symfony\docker-compose.yml
c:\Users\AY023176\Documents\dev\async-symfony\src\Controller\StockTransactionController.php
c:\Users\AY023176\Documents\dev\async-symfony\src\Message\PurchaseConfirmationNotification.php
